[Unit]
Description=Service to monitor surffeol acquisition
Wants=wittypi.service

[Service]
Restart=always
RestartSec=60
Type=idle
WorkingDirectory=/home/pi/projet/
ExecStart=/home/pi/projet/bin/acq_surffeol 2>&1 > /home/pi/projet/logs/out.log &

[Install]
WantedBy=multi-user.target

