[Unit]
Description=Service to monitor surffeol acquisition
Wants=wittypi.service

[Service]
Restart=always
RestartSec=600
Type=idle
WorkingDirectory=/home/pi/Surffeol/
ExecStart=/home/pi/Surffeol/bin/acq_surffeol 2>&1 > /home/pi/Surffeol/logs/out.log &

[Install]
WantedBy=multi-user.target

