[Unit]
Description=Wifi activation for remote control
Wants=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/Surffeol/wifi_control
StandardOutput=journal

[Install]
WantedBy=multi-user.target

